<a href="https://colab.research.google.com/github/kashishgidwani/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
data=np.array([10,20,30,40,50])
ser=pd.Series(data)
print(ser)
l=['a','e','i','o','u']
ser=pd.Series(l)
print(ser)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0    a
1    e
2    i
3    o
4    u
dtype: object

In [7]:
import numpy as np
import pandas as pd
subj=["Maths","Science","Social Science","Language"]
marks=[99,88,95,87]
ser=pd.Series(marks,index=subj)
print(ser)

Maths             99
Science           88
Social Science    95
Language          87
dtype: int64

In [8]:
#doing the same problem using dictionary
import numpy as np
import pandas as pd
sub_mark={"Maths":99,"Science":88,"Social Science":95,"Language":87}
ser=pd.Series(sub_mark)
print(ser)

Maths             99
Science           88
Social Science    95
Language          87
dtype: int64

In [10]:
import numpy as np
import pandas as pd
subj=["Maths","Science","Social Science","CS"]
sub_mark={"Maths":99,"Science":88,"Social Science":95,"Language":87}
ser=pd.Series(sub_mark,index=subj)
print(ser)

Maths             99.0
Science           88.0
Social Science    95.0
CS                 NaN
dtype: float64

In [19]:
import numpy as np
import pandas as pd
subj=["Maths","Science","Social Science","CS"]
marks=[99,88,95,87]
ser=pd.Series(marks,index=subj)
print("All subjects with marks above 90 are: ")
print(ser[ser>90])
print("\nMarks in ascending order: ")
print(ser.sort_values())
print("\nRank according to marks in descending order( highest score, first rank): ")
print(ser.rank(ascending=False))
print("\nTotal is: ",ser.sum())
print("Mean is: ",ser.mean())
print("Median is: ",ser.median())
print("Standard Deviation: ",ser.std())
print("Maximum is: ",ser.max())
print("Index of maximum is: ",ser.idxmax())
print("Minimum is: ",ser.min())
print("Index of minimum is: ",ser.idxmin())
print("Count is: ",ser.count())

All subjects with marks above 90 are:
Maths             99
Social Science    95
dtype: int64

Marks in ascending order:
CS                87
Science           88
Social Science    95
Maths             99
dtype: int64

Rank according to marks in descending order( highest score, first rank):
Maths             1.0
Science           3.0
Social Science    2.0
CS                4.0
dtype: float64

Total is:  369
Mean is:  92.25
Median is:  91.5
Standard Deviation:  5.737304826019502
Maximum is:  99
Index of maximum is:  Maths
Minimum is:  87
Index of minimum is:  CS
Count is:  4